body {
    font-size: 16px;
    font-family: "Verdana", sans-serif;
    color: black;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

nav a {
    text-decoration: none;
    color: black;
}

nav {
    font-weight: bold;
    padding: 0.5em;
}

nav, footer {
    font-size: 18px;
    background-color: #ff6968;
    border-radius: 0.6em; /*---> nurgad ümaraks*/
}

footer {
    width: 800px;
    padding-left: 0.5em;
    position: fixed;
    bottom: 0;
    margin-bottom: 1em;
}

@media screen and (max-width: 800px) {
    footer {
        display: none;
    }
}


.author-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 5px;

}

.movie-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    /*
    border-style: solid;
    border-color: blue;*/

}

.grade-item {
    text-align: left;
    width: 100px;
    /*border-style: solid;
    border-color: coral;*/
}

.isRead-item {
    text-align: right;
    width: 50px;
    /*border-style: solid;
    border-color: red;*/
}

.movie-item, .author-name, .movie-item-first-three, .author-name-three-firstones{
    width: 200px;
    /*border-style: solid;
    border-color: coral;*/
}

.normal-form {
    display: grid;
    justify-content: center;
    grid-template-columns: 10em auto;
    grid-row-gap: 5px;
    grid-column-gap: 15px;
    margin-top: 30px;
    font-size: 18px;

}

.form-label-item {
    width: 10em;
    text-align: right;
}

.form-input-item {
    width: 20em;
}

.Save-input {
    grid-column: 1 / 3;
    margin-top: 40px;
    text-align: right;

}

.delete-input {
    grid-column: 1 / 3;
    margin-top: 20px;
    margin-right: 122px;
    text-align: right;
}

.score-filled {
    color: darkorange;
}

.score-empty {
    color: gray;
}



input[type="submit"] {
    width: 10em;
}

input[type="text"] {
    width: 20em;
}

select {
    width: 20.5em;
}
