
<div class="error-message-blocks" tpl-if="$messages">
    <div class="error-block" id="error-block">{{ $messages }}</div>
</div>
<br>


<form action="?cmd={{$cmd}}" method="post">
    <div class="normal-form">
        <div class="form-label-item"><label for="firstName">Eesnimi:</label></div>
        <div class="form-input-item"><input id="firstName" name="firstName" value="{{ $author->firstname }}" type="text"></div>

        <div class="form-label-item"><label for="lastName">Perekonnanimi:</label></div>
        <div class="form-input-item"><input id="lastName" name="lastName"  value="{{ $author->lastname }}" type="text"></div>

        <div class="form-label-item"><label>Hinne:</label></div>
        <div class="form-input-item">
            <tpl tpl-foreach="range(1, 5) as $grade">
                <label for="grade{{ $grade }"> {{ $grade }}</label>
                <input type="radio" id="grade{{ $grade }" name="grade" tpl-checked="$grade == $author->grade" value="{{ $grade }}">
            </tpl>
        </div>

        <input type="hidden" name="author_id" value="{{$author->id}}"/>

        <div class="Save-input">
            <input type="submit" name="submitButton" value="Salvesta">
        </div>
    </div>
</form>

<form action=?cmd={{$cmd}} method="post" tpl-if="$edit_mode">
    <div class="delete-input">
        <input type="hidden" name="post-to-delete" value="{{$author->id}}"/>
        <input type="submit" name="deleteButton" value="Kustuta"/>
    </div>
</form>