
<div class="error-message-blocks" tpl-if="$messages">
    <div class="error-block" id="error-block">{{ $messages }}</div>
</div>


<form action="?cmd={{$cmd}}" method="post">
    <div class="normal-form">
        <div class="form-label-item"><label for="fn">Pealkiri: </label></div>
        <div class="form-input-item"><input id="fn" name="title" value="{{ $movie->title }}" type="text"></div>

        <div class="form-label-item"><label for="fo">Autor :</label></div>
        <div class="form-input-item"><select id="fo" name="author1">
            <option value=0></option>
            <tpl tpl-foreach="$authors as $author">
            <option tpl-selected="$movie->authors1_id == $author->id" value="{{ $author->id }}">{{$author->firstname}} {{$author->lastname}}</option>
            </tpl>

        </select></div>

        <div class="form-label-item"><label>Hinne:</label></div>
        <div class="form-input-item">
            <tpl tpl-foreach="range(1, 5) as $grade">
            <label for="grade{{ $grade }"> {{ $grade }}</label>
            <input type="radio" id="grade{{ $grade }" name="grade" tpl-checked="$grade == $movie->grade" value="{{ $grade }}">
            </tpl>
        </div>

        <div class="form-label-item"><label for="03">Vaadatud:</label></div>
        <div class="form-input-item"><input id="03" name="isRead" tpl-checked="$movie->isRead" type="checkbox"></div>

        <input type="hidden" name="movie_id" value="{{$movie->id}}"/>

        <div class="Save-input">
            <input type="submit" name='submitButton' value="Salvesta">
        </div>
    </div>
</form>
<form action="?cmd={{$cmd}}" method="post" tpl-if="$edit_mode">
    <div class="delete-input">
        <input type="hidden" name="post-to-delete" value="{{$movie->id}}"/>
        <input type="submit" name="deleteButton" value="Kustuta"/>
    </div>
</form>