<div class="error-message-blocks" tpl-if="$messages">
    <div class="message-block" id="message-block"> {{ $messages }}</div>
</div>


<br>
<div class="author-list">
    <div class="author-name-three-firstones">Eesnimi</div>
    <div class="author-name-three-firstones">Perekonnanimi</div>
    <div class="grade-item">Hinne</div>
</div>

<hr>

<div class="author-list">
    <tpl tpl-foreach="$authors as $author">
        <div class="author-name"><a href="?cmd=edit_author&post-index={{ $author->id }}">{{ $author->firstname }}</a></div>
        <div class="author-name"> {{ $author->lastname }}</div>
        <div class="grade-item">
            <div class="score-empty">
                <tpl tpl-foreach="range(1, 5) as $grade" tpl-trim-contents>
                    <span tpl-class="score-filled if $author->grade >= $grade">&#9733;</span>
                </tpl>
            </div>
        </div>
    </tpl>
    <br>
</div>