<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Movies</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<nav>
    <a href="?cmd=show_movie_list" id="book-list-link">Filmid</a> |
    <a href="?cmd=add_movie" id="book-form-link">Lisa film</a> |
    <a href="?cmd=show_author_list" id="author-list-link">Režissöörid</a> |
    <a href="?cmd=add_author" id="author-form-link">Lisa režissöör</a>
</nav>
<br>

<main tpl-include="{{ $path }}">

</main>


<footer>
    <p>ICD0007 Näidisrakendus</p>
</footer>
</body>
</html>
