<div class="error-message-blocks" tpl-if="$messages">
    <div class="message-block" id="message-block"> {{ $messages }}</div>
</div>
<br>
<div class="movie-list">
    <div class="movie-item-first-three">Filmid</div>
    <div class="movie-item-first-three">Režissöörid</div>
    <div class="grade-item">Hinne</div>
    <div class="isRead-item">Vaadatud</div>
</div>
<hr>
<tpl tpl-foreach="$movies as $movie">
    <div class="movie-list">
        <div class="author-name"><a href="?cmd=edit_movie&movieIndex={{ $movie->id }}">{{ $movie->title }}</a></div>
        <div class="author-name">{{ $movie->firstname }} {{ $movie->lastname }}</div>
        <div class="grade-item">
            <div class="score-empty">
                <tpl tpl-foreach="range(1, 5) as $grade" tpl-trim-contents>
                    <span tpl-class="score-filled if $movie->grade >= $grade">&#9733;</span>
                </tpl>
            </div>
        </div>
        <div class="isRead-item" tpl-if="$movie->isRead == 1">Jah</div>
        <div class="isRead-item" tpl-if="$movie->isRead != 1">Ei</div>
        <br>
    </div>
</tpl>
